.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.spinner{
  pointer-events: none;
  width: 3em;
  height: 3em;
  border: 0.4em solid #eee;
  border-top-color: #9b4dca;
  border-radius: 50%;
  -webkit-animation: loadingspin 1s linear infinite;
  animation: loadingspin 1s linear infinite;
}

@-webkit-keyframes loadingspin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingspin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}